/********************************
 * @file  全局变量、函数、minx定义
 ********************************/

// Layout
$layout-body-background      = #ececec
$layout-header-background    = #404040
$layout-header-height        = 64px
$layout-header-padding       = 0 50px
$layout-footer-padding       = 24px 50px
$layout-sider-background     = $layout-header-background
$layout-trigger-height       = 48px
// $layout-trigger-background   = tint($heading-color, 20%)
$layout-trigger-color        = #fff
$layout-zero-trigger-width   = 36px
$layout-zero-trigger-height  = 42px

$font-size-base         = 12px
$font-size-lg           = $font-size-base + 2px
$line-height-base       = 1.5
$border-radius-base     = 4px
$border-radius-sm       = 2px

