/********************************
 * $file  全局变量、函数、minx定义
 ********************************/

$body-background        = #fff
$component-background   = #fff
$font-family-no-number  = -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif
$font-family            = "Helvetica Neue For Number", $font-family-no-number
$code-family            = Consolas, Menlo, Courier, monospace

$primary-color          =  #108ee9
$primary-1              =  #e6f7ff

$heading-color          = alpha(#000, 85%)
$text-color             = alpha(#000, 65%)
$text-color-secondary   = alpha(#000, 43%)
$heading-color-dark     = alpha(#fff, 97%)
$text-color-dark        = alpha(#fff, 91%)
$text-color-secondary-dark = alpha(#fff, 67%)

$font-size-base         = 14px
$font-size-lg           = 16px
$line-height-base       = 1.5
$border-radius-base     = 4px
$border-radius-sm       = 2px


// Media
$screen-xs              = 480px
$screen-sm              = 768px
$screen-md              = 992px
$screen-lg              = 1200px
$screen-xl              = 1600px

// Layout
$layout-body-background      = #ececec
$layout-header-background    = #001529
$layout-header-height        = 64px
$layout-header-padding       = 0
$layout-footer-padding       = 24px 50px
$layout-sider-background     = $layout-header-background
$layout-trigger-height       = 48px
$layout-trigger-color        = #fff
$layout-zero-trigger-width   = 36px
$layout-zero-trigger-height  = 42px

// menu
$menu-dark-submenu-bg   = #333
$menu-collapsed-width   = 64px

